.class1 {
  width:50%;
  height:auto;
  margin:0  auto;
  border: 2px  solid;
  border-radius: 15px;
  border-color: red;
  padding: 15px;
  background-color: pink;
  font-family: sans-serif;
  font-style: Arial;
  font-size: 14px;
}

.class2 {
  width:50%;
  height:auto;
  margin:0  auto;
  border: 2px  solid;
  border-radius: 15px;
  border-color: green;
  padding: 15px;
  background-color: #90EE90;
  font-family: sans-serif;
  font-style: Arial;
  font-size: 14px;
}

.box {
  width:400px;
  height:auto;
  margin:0  auto;
  border: 2px  solid #f1f1f1;
  border-radius: 25px;
  padding: 20px;
}

.main {
  border-top: solid red;
  border-width: 2px;

}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-style: Arial;
  font-size: 22px;
}

label {
  font-family: sans-serif;
  font-style: Arial;
  font-size: 14px;
}

.subtext {
  font-family: sans-serif;
  font-style: Arial;
  font-size: 12px;
  color: grey;
}

input[type=button],input[type=submit] {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    font-family: sans-serif;
    font-style: Arial;
    font-size: 14px;
}

input[type=button]:hover,input[type=submit]:hover {
    background-color: white;
    color: red;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
}

input[type=file] {
  width: 100%;
  padding: 12px 0px;
  margin: 8px 0;
  display: inline-block;
}

input[type=email], input[type=password],
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
