body {
	width: 100%;
	margin: auto;
}

.containerBody {
	width: 1700px;
	margin: 100px;
	height: 500px;
}

.containerItem {
	margin: 5%;
	width: 200px;
	height: 220px;
	float: left;
}

.containerItemBorder {
	width: 220px;
	height: 250px;
	border-style: outset;
	border-width: 1px;
	border-color: #D3D3D3;
	float: left;
}

.price {
	font-size: 22px;
	font-weight: 5px;
	float: right;
	color: #008000;
	padding-top: 20px;
}

.itemTitle {
	padding-top: 5px;
	font-size: 23px;
	font-family: "sans-serif";
}