.header {
	font-size: 20px;
	font-weight: 8px;
	border-style: outset;
	border-width: 1px;
	width: 100%;
	top: 0;
	position: fixed;
	background: #fff;
}

.logo {
	float: left;
	padding-left: 10px;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
	float: left;
	margin-left: 20px;
	padding-top: 20px;
}



input[type=text] {
	border: 1.5px solid #999;
  	border-radius: 3px;
  	padding: 8px;
  	font-size:14px;

  	-webkit-appearance: none;
}

input[type=submit] {
	color: darkblue;
	border: 2px solid #999;
  	border-radius: 4px;
  	padding: 5px;
  	font-size:10px;

  	-webkit-appearance: none;
}

select {
	border: 1.5px solid #999;
  	border-radius: 3px;
  	padding: 8px;
  	font-size:14px;

  	-webkit-appearance: menulist;
}

